@font-face {
  font-weight: 400;
  font-family: "Manrope";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Manrope-Regular.woff2") format("woff2"),
    url("../fonts/Manrope-Regular.woff") format("woff");
}

@font-face {
  font-weight: 600;
  font-family: "Manrope";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Manrope-SemiBold.woff2") format("woff2"),
    url("../fonts/Manrope-SemiBold.woff") format("woff");
}

@font-face {
  font-weight: 800;
  font-family: "Manrope";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Manrope-ExtraBold.woff2") format("woff2"),
    url("../fonts/Manrope-ExtraBold.woff") format("woff");
}
