.container {
  display: grid;
  width: 320px;
  margin: 0 auto;
  padding: 50px 20px;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 30px 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1270px;
    padding: 50px 50px;
    column-gap: 40px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
