/* Viewports */
$tablet: 768px;
$desktop: 1440px;
/* Viewports end */
/* Fonts */
$oswald: "Oswald", "Arial", sans-serif;
$oswald-medium: "Oswald Medium", "Arial", sans-serif;
/* Fonts end */
/* Colors */
$white: #ffffff;
$white-opacity: rgba(255, 255, 255, 0.3);
$green: #68b738;
$green-background: #63a63c;
$green-active: #5eaa2f;
$green-transparency: rgba(104, 183, 56, 0.85);
$grey-blocks-background: #f2f2f2;
$grey-section-background: #eaeaea;
$grey-stripes: #ebebeb;
$grey-border: #dcdcdc;
$grey-menu-border: #e6e6e6;
$grey-social: #666666;
$grey-social-border: #d9d9d9;
$grey-text: #444444;
$grey-text-opacity: rgba(68, 68, 68, 0.3);
$grey-title: #222222;
$grey-dotted: #b2b2b2;
$grey-solid: #919191;
$grey-input: #e7e7e7;
$grey-input-border: #cdcdcd;
$grey-input-hover: #bababa;
$toggle-shadow: rgba(0, 0, 0, 0.16);
$toggle-shadow-hover: rgba(0, 0, 0, 0.19);
$toggle-shadow-active: rgba(0, 0, 0, 0.2);
$black: #000000;
$error: #ff8282;
$social: #666666;
/* Colors end */
